version: '3'
services:
  tor:
    image: osminogin/tor-simple:latest
  create:
    build: .
    image: decidim-decode-connector
    command: ["python", "create.py"]
    environment:
      - CHAINSPACE_API_URL
      - TOR_PROXY_URL=socks5h://tor:9050
    depends_on:
      - tor
  close:
    build: .
    image: decidim-decode-connector
    command: ["python", "close.py"]
    environment:
      - WALLET_PROXY_URL
      - DECIDIM_MOCK_URL
    depends_on:
      - tor
  keygen:
    build: .
    image: decidim-decode-connector
    command: ["python", "keygen.py", "--filename", "/keys/key.json"]