argh==0.26.2
attrs==18.1.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
cookies==2.2.1
coverage==4.5.1
docopt==0.6.2
funcsigs==1.0.2
future==0.16.0
idna==2.6
mock==2.0.0
more-itertools==4.1.0
msgpack-python==0.5.6
pathtools==0.1.2
pbr==4.0.2
petlib==0.0.43
pluggy==0.6.0
py==1.5.3
pycodestyle==2.4.0
pycparser==2.18
PySocks==1.6.8
pytest==3.5.1
pytest-cov==2.5.1
pytest-watch==4.1.0
PyYAML==3.12
requests==2.18.4
responses==0.9.0
six==1.11.0
urllib3==1.22
watchdog==0.8.3
